/* CUERPO */
body{
  font-family: 'Gupter', serif;
  margin: 0em!important;
  padding: 0em!important;
}

ul li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
section img{
  width: 100%;
}
/* PROMOCIONES */
.seccionPrincipal{
  background-image: url(../img/fondoPrincipal.jpg);
  background-color: #cccccc;
  height: 18em;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.titulo-temporada{
  font-size: 1.5em;
  color: antiquewhite;  
  float: left;
  font-family: 'Gupter', serif;
}
#carruselTemporada, #carruselDescuentos{
  margin-top: 20px !important;
  margin-bottom: 20px;
  float: right;
  height: 18em;
}
/* DESCUENTOS */
.seccionDescuentos{
  background-color: floralwhite;
  height: 18em;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.titulo-descuentos{
  font-size: 1.5em;
  color:  rgb(56,20,116);  
  float: left;
  font-family: 'Gupter', serif;
}


/* CONTACTO */

#contacto{
  font-family: 'Gupter', serif;
  font-size: 0.8em;
  border-top: 3px solid rgb(56,20,116)
}

.titulo-contacto{
  padding-top: 1em;
  font-size: 1.6em;
}

.color-boton{
  background-color: rgb(56,20,116) !important;
  color: white !important;
  padding-bottom: 1em;
}


