/* CUERPO */

ul li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
section img{
  width: 100%;

}
#carrousel{
  margin-top: 20px !important;
  margin-bottom: 20px;
  width: 30%;
}

.color{
  background-color: rgb(56,20,116) !important;
  color: white !important;
}

#carusel h2{
  text-align: center;
  color: crimson;
}

body {
  font-size: 1em;
}

@include media-breakpoint-up(sm) {
  body {
    font-size: 1.2em;
  }
}

@include media-breakpoint-up(md) {
  body {
    font-size: 1.4em;
  }
}

@include media-breakpoint-up(lg) {
  body {
    font-size: 1.6em;
  }
}

#carusel{
  background-image: url(../img/fondoPrincipal.jpg);
}
